## 从OKcoin api上获得bitcoin交易的所有日线数据

In [6]:
import pandas as pd
import requests

In [2]:
# 从okcoin api获取数据
# 参考: https://www.okcoin.cn/rest_api.html#spapi 
# 其中 since参数不能用，那我就不得不把所有日线数据获得下来了

u = "https://www.okcoin.cn/api/v1/kline.do?symbol=btc_cny&type=1day"
r = requests.get(u)
results = r.text.strip('[[]]').split('],[')
std_results = list()
for item in results:
    std_results.append(item.split(","))

In [52]:
df = pd.DataFrame(st_results,columns = ['timestamp','open','high','low','close','volume']);df.head()

       timestamp    open    high     low   close       volume
0  1370966400000   680.0   680.0   680.0   680.0        0.005
1  1371052800000   680.0   680.0   669.0   670.0        0.006
2  1371139200000   680.0   680.0   675.0   675.0         0.07
3  1371571200000  673.75  673.75  665.95  668.85  10.26299995
4  1371657600000   671.6  675.06  656.36  674.57  45.17199976

In [78]:
# 转换一下类型
df['timestamp'] = df['timestamp'].astype(int)
df[["open","high","low","close","volume"]] = df[["open","high","low","close","volume"]].astype(float)

## 处理一下时间戳

In [56]:
# 这里okcoin 在timestamp上 有一些特别 ，每一个timestamp 多三个零，是ms级别的，我这里处理一下。
df['timestamp'] = df['timestamp']/1000

In [58]:
from datetime import datetime
datetime.fromtimestamp(df.ix[0,0])

datetime.datetime(2013, 6, 12, 0, 0)

In [61]:
df['date'] = df['timestamp'].apply(lambda x: datetime.fromtimestamp(x))

### 结果

In [80]:
df.head()

      timestamp    open    high     low   close  volume       date
0  1.370966e+09  680.00  680.00  680.00  680.00   0.005 2013-06-12
1  1.371053e+09  680.00  680.00  669.00  670.00   0.006 2013-06-13
2  1.371139e+09  680.00  680.00  675.00  675.00   0.070 2013-06-14
3  1.371571e+09  673.75  673.75  665.95  668.85  10.263 2013-06-19
4  1.371658e+09  671.60  675.06  656.36  674.57  45.172 2013-06-20

### 如果你需要转为 excel，用万能的 excel处理，也可以，直接下载就行

In [81]:
# 输出 excel
df.to_excel('okcoin_historical_price.xlsx', sheet_name='Sheet1')